:root {
    --maxRow: 20;
    --maxCol: 20;
}

body {
    background-color: #111;
    font-family: monospace;
}

h1 {
    color: white;
    font-family: monospace;
}


#container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    margin: auto;
    gap: 50px;
   
}

#environment {
    display: grid;
    grid-template-columns: repeat(var(--maxCol), 1fr);
    grid-template-rows: repeat(var(--maxRow), 25px);
    gap: 3px;
    width: 100%;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    background-color: white;
    font-size: 30px;
    font-weight: bolder;
}

#scoreboard {
    background-color: white;
    padding: 5px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
}

.score {
    font-size: 20px;
    font-weight: bolder;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
}

#score-agente-simples::before {
    content: "Agente reativo simples";
    font-size: 15px;
    display: block;
}

#score-agente-modelo::before {
    content: "Agente baseado em modelo";
    font-size: 15px;
    display: block;
}

#score-agente-objetivo::before {
    content: "Agente baseado em objetivo";
    font-size: 15px;
    display: block;
}

#score-agente-ultilidade::before {
    content: "Agente baseado em ultilidade";
    font-size: 15px;
    display: block;
}

#lixo-total {
    font-size: 20px;
    font-weight: bolder;
}

#ambientes-internos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    font-weight: bolder;
}

.internal-environment {
    display: grid;
    grid-template-columns: repeat(var(--maxCol), 7px);
    grid-template-rows: repeat(var(--maxRow), 7px);
    gap: 1px;
}

.square-ambiente-interno {

    height: 100%;
    border-radius: 1px solid black;

    font-size: 15px;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;

}

.off {
    display: none;
}

@media screen and (max-width: 900px) {

    #container {
        padding: 0;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #environment {
        width: 80%;
        grid-template-columns: repeat(var(--maxCol), 1fr);
        grid-template-rows: repeat(var(--maxRow), 25px);
    }

    #scoreboard {
        background-color: white;
        padding: 10px;
        width: 300px;
     
    }
    
    .square {
        font-size: 20px;
    }
    
    .score {
        font-size: 16px;
    }
    
    #lixo-total {
        font-size: 16px;
    }

    #ambientes-internos {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        width: 100%;
        margin: auto;
    }

    #ambientes-internos > div{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 5px
    }

    .internal-environment {
        display: grid;
        grid-template-columns: repeat(var(--maxCol), 10px);
        grid-template-rows: repeat(var(--maxRow), 10px);
        gap: 2px;
    }

    
}



@media screen and (max-width: 780px) {

    #environment {width: 100%;}

    
    #ambientes-internos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
   

   
}
