body {
    background-color: rgb(43, 114, 89);
    font-family: monospace;
}

h1 {
    color: white;
    font-family: monospace;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 60%;
    margin: auto;
}

#environment {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 40px);
    gap: 3px;
    width: 100%;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    background-color: rgb(254, 255, 255);
    font-size: 30px;
    font-weight: bolder;
}

#scoreboard {
    background-color: white;
    padding: 5px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
}

.score {
    font-size: 20px;
    font-weight: bolder;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


#score-agente-simples::before {
    content: "Agente reativo simples";
    font-size: 15px;
    display: block;
}

#score-agente-modelo::before {
    content: "Agente baseado em modelo";
    font-size: 15px;
    display: block;
}

#score-agente-objetivo::before {
    content: "Agente baseado em objetivo";
    font-size: 15px;
    display: block;
}

#score-agente-ultilidade::before {
    content: "Agente baseado em ultilidade";
    font-size: 15px;
    display: block;
}

#lixo-total {
    font-size: 20px;
    font-weight: bolder;
}