body {
    background-color: rgb(43, 114, 89);
}

h1 {
    color: white;
    font-family: monospace;
}

#container {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 60%;
    margin: auto;
}

#environment {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 25px);
    gap: 3px;
    width: 100%;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    background-color: rgb(254, 255, 255);
    font-size: 30px;
    font-weight: bolder;
}

